In [1]:
# !pip install numpy

Collecting numpy
  Downloading numpy-2.1.3-cp312-cp312-macosx_14_0_arm64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.0/62.0 kB 1.5 MB/s eta 0:00:00
Downloading numpy-2.1.3-cp312-cp312-macosx_14_0_arm64.whl (5.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 6.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: numpy
Successfully installed numpy-2.1.3

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import numpy as np

In [ ]:
x=np.random.normal(loc=1, scale=10, size=(1000,50))
print(x)

In [ ]:
m = np.mean(x, axis=0)
print m

In [ ]:
X=x
m = np.mean(X, axis=0)
std = np.std(X, axis=0)
X_norm = ((X - m)  / std)
print X_norm

In [ ]:
import pandas

In [ ]:
data = pandas.read_csv('/Volumes/fast64/My/MachineLearning/Lesson02/practival/titanic.csv', index_col='PassengerId')

In [ ]:
data.describe()

In [ ]:
data.tail(3)

# sex

In [ ]:
sex=data['Sex']

In [ ]:
type(sex)

In [ ]:
sex_set=set(sex)
print sex_set

In [ ]:
import collections

In [ ]:
counter=collections.Counter(sex)
print(counter)

# survived

In [ ]:
survived=data['Survived']

In [ ]:
counter=collections.Counter(survived)
print(counter)

In [ ]:
print 549+342

In [ ]:
surv_proc=342.0*100/(549.0+342)
print surv_proc

# Class

In [ ]:
class_all=data['Pclass']
classes_set=set(class_all)
print classes_set

In [ ]:
counter=collections.Counter(class_all)
print(counter)

In [ ]:
first_proc=216.0*100/(491+216+184)
print first_proc

In [ ]:
print 491+216+184

# Age medianand average

In [ ]:
age_all=data['Age']
age_all_arr=np.asarray(age_all)
age_all_arr_clean=age_all_arr[~np.isnan(age_all_arr)]
print age_all_arr_clean

In [ ]:
mediana=np.median(age_all_arr_clean)
print mediana

In [ ]:
mean=np.mean(age_all_arr_clean)
print mean

# Pirson correlation

In [ ]:
from scipy.stats.stats import pearsonr

In [ ]:
pearson_corr=pearsonr(data['SibSp'], data['Parch'])
print pearson_corr

# most popular female name

In [1]:
import numpy as np
import pandas
data = pandas.read_csv('/Volumes/fast64/My/MachineLearning/Lesson02/practival/titanic.csv', index_col='PassengerId')

In [2]:
data_females=data[data['Sex'].isin(['female'])]
print data_females

             Survived  Pclass  \
PassengerId
2                   1       1
3                   1       3
4                   1       1
9                   1       3
10                  1       2
11                  1       3
12                  1       1
15                  0       3
16                  1       2
19                  0       3
20                  1       3
23                  1       3
25                  0       3
26                  1       3
29                  1       3
32                  1       1
33                  1       3
39                  0       3
40                  1       3
41                  0       3
42                  0       2
44                  1       2
45                  1       3
48                  1       3
50                  0       3
53                  1       1
54                  1       2
57                  1       2
59                  1       2
62                  1       1
...               ...     ...
808                 0       3
810                 1       1
814                 0       3
817                 0       3
821                 1       1
824                 1       3
830                 1       1
831                 1       3
836                 1       1
843                 1       1
850                 1       1
853                 0       3
854                 1       1
855                 0       2
856                 1       3
857                 1       1
859                 1       3
863                 1       1
864                 0       3
866                 1       2
867                 1       2
872                 1       1
875                 1       2
876                 1       3
880                 1       1
881                 1       2
883                 0       3
886                 0       3
888                 1       1
889                 0       3

                                                          Name     Sex  Age  \
PassengerId
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38
3                                       Heikkinen, Miss. Laina  female   26
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35
9            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female   27
10                         Nasser, Mrs. Nicholas (Adele Achem)  female   14
11                             Sandstrom, Miss. Marguerite Rut  female    4
12                                    Bonnell, Miss. Elizabeth  female   58
15                        Vestrom, Miss. Hulda Amanda Adolfina  female   14
16                            Hewlett, Mrs. (Mary D Kingcome)   female   55
19           Vander Planke, Mrs. Julius (Emelia Maria Vande...  female   31
20                                     Masselmani, Mrs. Fatima  female  NaN
23                                 McGowan, Miss. Anna "Annie"  female   15
25                               Palsson, Miss. Torborg Danira  female    8
26           Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female   38
29                               O'Dwyer, Miss. Ellen "Nellie"  female  NaN
32              Spencer, Mrs. William Augustus (Marie Eugenie)  female  NaN
33                                    Glynn, Miss. Mary Agatha  female  NaN
39                          Vander Planke, Miss. Augusta Maria  female   18
40                                 Nicola-Yarred, Miss. Jamila  female   14
41              Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  female   40
42           Turpin, Mrs. William John Robert (Dorothy Ann ...  female   27
44                    Laroche, Miss. Simonne Marie Anne Andree  female    3
45                               Devaney, Miss. Margaret Delia  female   19
48                                   O'Driscoll, Miss. Bridget  female  NaN
50               Arnold-Franchi, Mrs. Josef (Josefine Franchi)  female   18
53                    Harper, Mrs. Henry Sleeper (Myna Haxtun)  female   49
54           Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...  female   29
57                                           Rugg, Miss. Emily  female   21
59                                West, Miss. Constance Mirium  female    5
62                                         Icard, Miss. Amelie  female   38
...                                                        ...     ...  ...
808                            Pettersson, Miss. Ellen Natalia  female   18
810             Chambers, Mrs. Norman Campbell (Bertha Griggs)  female   33
814                         Andersson, Miss. Ebba Iris Alfrida  female    6
817                               Heininen, Miss. Wendla Maria  female   23
821          Hays, Mrs. Charles Melville (Clara Jennings Gr...  female   52
824                                         Moor, Mrs. (Beila)  female   27
830                  Stone, Mrs. George Nelson (Martha Evelyn)  female   62
831                    Yasbeck, Mrs. Antoni (Selini Alexander)  female   15
836                                Compton, Miss. Sara Rebecca  female   39
843                                    Serepeca, Miss. Augusta  female   30
850               Goldenberg, Mrs. Samuel L (Edwiga Grabowska)  female  NaN
853                                    Boulos, Miss. Nourelain  female    9
854                                  Lines, Miss. Mary Conover  female   16
855              Carter, Mrs. Ernest Courtenay (Lilian Hughes)  female   44
856                                 Aks, Mrs. Sam (Leah Rosen)  female   18
857                 Wick, Mrs. George Dennick (Mary Hitchcock)  female   45
859                      Baclini, Mrs. Solomon (Latifa Qurban)  female   24
863          Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female   48
864                          Sage, Miss. Dorothy Edith "Dolly"  female  NaN
866                                   Bystrom, Mrs. (Karolina)  female   42
867                               Duran y More, Miss. Asuncion  female   27
872           Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female   47
875                      Abelson, Mrs. Samuel (Hannah Wizosky)  female   28
876                           Najib, Miss. Adele Kiamie "Jane"  female   15
880              Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female   56
881               Shelley, Mrs. William (Imanita Parrish Hall)  female   25
883                               Dahlberg, Miss. Gerda Ulrika  female   22
886                       Rice, Mrs. William (Margaret Norton)  female   39
888                               Graham, Miss. Margaret Edith  female   19
889                   Johnston, Miss. Catherine Helen "Carrie"  female  NaN

             SibSp  Parch            Ticket      Fare Cabin Embarked
PassengerId
2                1      0          PC 17599   71.2833   C85        C
3                0      0  STON/O2. 3101282    7.9250   NaN        S
4                1      0            113803   53.1000  C123        S
9                0      2            347742   11.1333   NaN        S
10               1      0            237736   30.0708   NaN        C
11               1      1           PP 9549   16.7000    G6        S
12               0      0            113783   26.5500  C103        S
15               0      0            350406    7.8542   NaN        S
16               0      0            248706   16.0000   NaN        S
19               1      0            345763   18.0000   NaN        S
20               0      0              2649    7.2250   NaN        C
23               0      0            330923    8.0292   NaN        Q
25               3      1            349909   21.0750   NaN        S
26               1      5            347077   31.3875   NaN        S
29               0      0            330959    7.8792   NaN        Q
32               1      0          PC 17569  146.5208   B78        C
33               0      0            335677    7.7500   NaN        Q
39               2      0            345764   18.0000   NaN        S
40               1      0              2651   11.2417   NaN        C
41               1      0              7546    9.4750   NaN        S
42               1      0             11668   21.0000   NaN        S
44               1      2     SC/Paris 2123   41.5792   NaN        C
45               0      0            330958    7.8792   NaN        Q
48               0      0             14311    7.7500   NaN        Q
50               1      0            349237   17.8000   NaN        S
53               1      0          PC 17572   76.7292   D33        C
54               1      0              2926   26.0000   NaN        S
57               0      0        C.A. 31026   10.5000   NaN        S
59               1      2        C.A. 34651   27.7500   NaN        S
62               0      0            113572   80.0000   B28      NaN
...            ...    ...               ...       ...   ...      ...
808              0      0            347087    7.7750   NaN        S
810              1      0            113806   53.1000    E8        S
814              4      2            347082   31.2750   NaN        S
817              0      0  STON/O2. 3101290    7.9250   NaN        S
821              1      1             12749   93.5000   B69        S
824              0      1            392096   12.4750  E121        S
830              0      0            113572   80.0000   B28      NaN
831              1      0              2659   14.4542   NaN        C
836              1      1          PC 17756   83.1583   E49        C
843              0      0            113798   31.0000   NaN        C
850              1      0             17453   89.1042   C92        C
853              1      1              2678   15.2458   NaN        C
854              0      1          PC 17592   39.4000   D28        S
855              1      0            244252   26.0000   NaN        S
856              0      1            392091    9.3500   NaN        S
857              1      1             36928  164.8667   NaN        S
859              0      3              2666   19.2583   NaN        C
863              0      0             17466   25.9292   D17        S
864              8      2          CA. 2343   69.5500   NaN        S
866              0      0            236852   13.0000   NaN        S
867              1      0     SC/PARIS 2149   13.8583   NaN        C
872              1      1             11751   52.5542   D35        S
875              1      0         P/PP 3381   24.0000   NaN        C
876              0      0              2667    7.2250   NaN        C
880              0      1             11767   83.1583   C50        C
881              0      1            230433   26.0000   NaN        S
883              0      0              7552   10.5167   NaN        S
886              0      5            382652   29.1250   NaN        Q
888              0      0            112053   30.0000   B42        S
889              1      2        W./C. 6607   23.4500   NaN        S

[314 rows x 11 columns]

In [3]:
import re

In [4]:
data_females['First_name']=''

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [ ]:
re.search(r'.*(Miss|Mrs)\.?\s(\w*)\s.*', 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)', re.I).group(2)

In [ ]:
start_dt = data_females.index.min()
end_dt = data_females.index.max()

cur_dt = start_dt

while cur_dt != end_dt:
    if cur_dt in data_females.index:
       data_females.First_name[cur_dt]=re.search(r'.*(Miss|Mrs)\.?\s(\w*)\s.*', data_females.Name[cur_dt], re.I).group(2)

In [ ]:
print type(data_females)