In [1]:
!pip install numpy
!pip install pandas
!pip install scikit-learn #  The 'sklearn' PyPI package is deprecated, use 'scikit-learn' rather than 'sklearn' for pip commands.

Requirement already satisfied: numpy in /Users/gene/My/2024_08_AI/ai-snippets/ml/CourseraML_01/lib/python3.12/site-packages (2.1.3)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in /Users/gene/My/2024_08_AI/ai-snippets/ml/CourseraML_01/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/gene/My/2024_08_AI/ai-snippets/ml/CourseraML_01/lib/python3.12/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/gene/My/2024_08_AI/ai-snippets/ml/CourseraML_01/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/gene/My/2024_08_AI/ai-snippets/ml/CourseraML_01/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/gene/My/2024_08_AI/ai-snippets/ml/CourseraML_01/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/gene/My/2024_08_AI/ai-snippets/ml/CourseraML_01/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: scikit-learn in /Users/gene/My/2024_08_AI/ai-snippets/ml/CourseraML_01/lib/python3.12/site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in /Users/gene/My/2024_08_AI/ai-snippets/ml/CourseraML_01/lib/python3.12/site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in /Users/gene/My/2024_08_AI/ai-snippets/ml/CourseraML_01/lib/python3.12/site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /Users/gene/My/2024_08_AI/ai-snippets/ml/CourseraML_01/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/gene/My/2024_08_AI/ai-snippets/ml/CourseraML_01/lib/python3.12/site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd
import sys
from sklearn.tree import DecisionTreeClassifier

In [3]:
X = np.array([[1, 2], [3, 4], [5, 6]])
y = np.array([0, 1, 0])
clf = DecisionTreeClassifier()
clf.fit(X, y)
importances = clf.feature_importances_
print(importances)

[1. 0.]

# my solution

In [4]:

data = pd.read_csv('titanic.csv', index_col='PassengerId')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [6]:
# remove NaNs frome Age

In [7]:
data_no_nan=data.dropna(subset=['Age'])
data_no_nan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  714 non-null    int64
 1   Pclass    714 non-null    int64
 2   Name      714 non-null    object
 3   Sex       714 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     714 non-null    int64
 6   Parch     714 non-null    int64
 7   Ticket    714 non-null    object
 8   Fare      714 non-null    float64
 9   Cabin     185 non-null    object
 10  Embarked  712 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 66.9+ KB

# leave only requered fields

In [8]:
vyborka = data_no_nan[['Pclass', 'Fare', 'Age', 'Sex']]
vyborka.info()
cel_per = data_no_nan[['Survived']]
cel_per.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 1 to 891
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  714 non-null    int64
 1   Fare    714 non-null    float64
 2   Age     714 non-null    float64
 3   Sex     714 non-null    object
dtypes: float64(2), int64(1), object(1)
memory usage: 27.9+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 1 to 891
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  714 non-null    int64
dtypes: int64(1)
memory usage: 11.2 KB

# replace male/femail with the numbers

In [9]:
# Function to generate test data
def SexToNum(Sex='male'):
    
    return 1 if Sex=='male' else 0

print(SexToNum('male'))

1

In [10]:
vyborka = vyborka.copy()
vyborka['Sex'] = vyborka.Sex.apply(lambda x: SexToNum(x)) 

# data2['Sex'] = data2.Sex.apply(lambda x: 1 if x == 'male' else 0)
vyborka.tail()

             Pclass    Fare   Age  Sex
PassengerId
886               3  29.125  39.0    0
887               2  13.000  27.0    1
888               1  30.000  19.0    0
890               1  30.000  26.0    1
891               3   7.750  32.0    1

# calculate importance

In [ ]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(vyborka, cel_per)
importances = clf.feature_importances_
print(importances)

In [ ]:
[ 0.14551471  0.30188301  0.25209007  0.30051221]